---
import { EarthIcon } from "@/components/Shared/Icons";
import SectionTitle from "@/components/Shared/SectionTitle.astro";
import Container from "@/layouts/Container.astro";
import { Image } from "astro:assets";

interface Props {
  about_us: any;
  status: any;
}

interface ItemsProps {
  title?: string;
  description: string;
}

const { about_us, status } = Astro.props;

const h3Style = "text-denim-300 font-normal text-4xl md:text-6xl mb-2 md:mb-4";
const pStyle = "text-denim-900 text-xs md:text-xl mb-4 md:mb-0";
---

<section class="w-full bg-denim-400 py-10 lg:py-[75px]">
  <Container class="flex flex-col">
    <SectionTitle title={about_us?.title  || ""} />
    <div class="w-full grid md:grid-cols-2 gap-10 mb-10">
      <Image
        src={about_us?.image}
        width={800}
        height={800}
        alt="about us"
        fetchpriority="high"
        decoding="async"
        loading="lazy"
        class="w-full h-full object-cover rounded-xl shadow-md hidden md:block"
      />
      <div>
        <p class="text-denim-900 text-xs md:text-xl mb-4 md:mb-0 text-center md:text-left">{about_us?.description || ""}</p>
      </div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-y-6 md:gap-y-16 w-full">
      {
        (status || []).map((i: ItemsProps) => (
          <div class="self-end text-center md:text-left">
            {i.title ? (
              <p class={h3Style}>{i.title}</p>
            ) : (
              <EarthIcon className="text-denim-300 w-[60px] mb-4 mx-auto md:mx-0" />
            )}
            <h3 class={pStyle}>{i.description || ""}</h3>
          </div>
        ))
      }
    </div>
  </Container>
</section>
