---
import Container from "@/layouts/Container.astro";
import { AccordionBlock } from "../../Conditions/AccordionBlock";
import SectionTitle from "@/components/Shared/SectionTitle.astro";

const { fields } = Astro.props;
const {faq_title, faq_description, faq_data } = fields;

const data = faq_data.map((i: {ask: string, asnwer: string}) => ({
  title: i.ask,
  description: i.asnwer
}))
---

<section class="py-10 lg:py-[75px] w-ful bg-gray-200">
  <Container class="grid grid-cols-1 md:grid-cols-[25%_1fr] gap-5">
    <div>
    <SectionTitle title={faq_title} class="lg:mb-4 md:text-left mt-0"/>
    <p class="mb-4 md:mb-10 text-center text-sm md:text-base md:text-left">
      {faq_description}
    </p>
    </div>
    <div class="bg-white rounded-xl p-5">
     <AccordionBlock {data} client:load />
    </div>
  </Container>
</section>
