---
import Container from "@/layouts/Container.astro";
import { fetchGoodsWithACF } from "@/lib/wp";
import { CarCard } from "@/components/Pages/Cars/CarCard";
import SectionTitle from "@/components/Shared/SectionTitle.astro";
import { Button } from "@/components/ui/button";

const { fields } = Astro.props;
const ids = (fields || []).map((i: { car: number }) => i.car);
const cars = await fetchGoodsWithACF(ids);
const carsList = Array.isArray(cars) ? cars : [];
---

<section class="py-10 lg:py-[75px] w-full">
  <Container big>
    <SectionTitle title="Популярные авто" />
    <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
      {carsList.map((car) => <CarCard car={car} client:load />)}
    </div>
    <Button asChild size="lg">
      <a
        href="/cars"
        class="text-white mx-auto px-6 py-4 rounded-md bg-denim-300 hover:bg-denim-300/80 mt-5 block w-max"
        >Весь автопарк</a>
        </Button>
  </Container>
</section>
