---
import SectionTitle from "@/components/Shared/SectionTitle.astro";
import { Button } from "@/components/ui/button";
import Container from "@/layouts/Container.astro";
import { Image } from "astro:assets";
interface Props {
  fields: any;
}
const { fields } = Astro.props;
---

<section class="bg-gray-200 py-10 lg:py-[70px] w-full">
  <Container>
    <SectionTitle title={fields?.title || ""} />
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
      <Image
        src={fields?.steps?.[0].image}
        alt="выбор-авто"
        width={600}
        height={400}
        class="rounded-xl h-[400px] object-cover order-1"
      />
      <div class="bg-white/20 rounded-xl p-8 order-2">
        <div class="text-3xl font-semibold mb-4">
          {fields?.steps?.[0].title || ""}
        </div>
        <div class="text-xs md:text-base opacity-80">
          {fields?.steps?.[0].description || ""}
        </div>
        <Button asChild>
          <a
            href="/cars"
            class="text-white px-4 py-2 rounded-md bg-denim-300 hover:bg-denim-300/80 mt-4 inline-block"
            >В каталог</a
          ></Button
        >
      </div>

      <div class="bg-white/20 rounded-xl p-5 order-4 md:order-3">
        <div class="text-3xl font-semibold mb-4">
          {fields?.steps?.[1].title || ""}
        </div>
        <div class="text-xs md:text-base opacity-80">
          {fields?.steps?.[1].description || ""}
        </div>
        <Button asChild>
          <a
            href="#form"
            class="text-white px-4 py-2 rounded-md bg-denim-300 hover:bg-denim-300/80 mt-4 inline-block"
            >Оставить заявку</a
          ></Button
        >
      </div>

      <Image
        src={fields?.steps?.[1].image}
        alt="оставить заявку"
        width={600}
        height={600}
        class="rounded-xl h-[400px] object-cover order-3 md:order-4"
      />

      <Image
        src={fields?.steps?.[2].image}
        alt="подписать догоров"
        width={600}
        height={600}
        class="rounded-xl h-[400px] object-cover order-5"
      />
      <div class="bg-white/20 rounded-xl p-5 order-6">
        <div class="text-3xl font-semibold mb-4">
          {fields?.steps?.[2].title || ""}
        </div>
        <div class="text-xs md:text-base opacity-80">
          {fields?.steps?.[2].description || ""}
        </div>
        <Button asChild>
          <a
            href="#map"
            class="text-white px-4 py-2 rounded-md bg-denim-300 hover:bg-denim-300/80 mt-4 inline-block"
            >Наш офис</a
          ></Button
        >
      </div>
    </div>
  </Container>
</section>
