---
---

<div class="text-sm md:text-base
  [&_p]:mb-5
  [&_h2]:font-bold [&_h2]:mb-8 [&_h2]:text-2xl
  [&_h3]:font-semibold [&_h3]:mb-6 [&_h3]:text-xl
  prose-ul:my-4 prose-ul:pl-5 prose-li:my-1
prose-li:marker:text-denim-300
  [&_ul]:list-disc [&_ul]:pl-5 [&_ul_ul]:list-[circle] [&_ul_ul]:pl-5 [&_ul_ul_ul]:list-[square] [&_ul_ul_ul]:pl-5
  [&_ol]:list-decimal [&_ol]:pl-5
  [&_ol_ol]:list-[lower-alpha] [&_ol_ol]:pl-5
  [&_ol_ol_ol]:list-[lower-roman] [&_ol_ol_ol]:pl-5
">
  <slot />
</div>